html
    head
        meta(charset="UTF-8")
        title Aplicação 1 - Grid usuários
        link(rel="stylesheet" type="text/css" href="vendors/css/bootstrap.css")
        script(type="text/javascript" src="vendors/js/jquery.js")
        script(type="text/javascript" src="vendors/js/angular.js")
        script(type="text/javascript" src="vendors/js/bootstrap.js")
        script(type="text/javascript" src="vendors/js/ng-table.js")
        script(type="text/javascript" src="public/js/app.js")
    body(ng-app="GridUser")

        block content